includes:
    - vendor/a8cteam51/team51-configs/quality-assurance/phpstan.dist.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - src/Modules/Autoupdates/AutoUpdatePluginsFilter.php # too many legacy errors
